<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Raleway&family=Rozha+One&display=swap" rel="stylesheet">

/* Below animations are fore modal created using React-Modal */
body,
html {

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #d3cce3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.ReactModal__Overlay {
  transition: transform 300ms ease-in-out;
  transition-delay: 100ms;
  transform: scale(0);
  /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open {
  transform: scale(1);
  /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close {
  transform: scale(0);
  /* transform: translateY(-150%); */
}

h1 {

  font-family: 'Caveat', sans-serif !important;
  letter-spacing: -1px;
  font-size: 64px;
}
h2, h3, h4, h5, h6 {
   font-family: 'Rozha One', sans-serif !important;
}

h2 {

  font-size: 56px;
}

h3 {

  font-size: 48px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 24px;
}

a,
span,
li,
button,
p {
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif !important;
}

div,
main,
body {
  z-index: 1;
}

video {
  z-index: 20 !important;
  padding-top: 0;
  position: absolute;
  max-width: 120vw;
  height: auto;
  transform: scale(1.3);
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 1) 75%
  ) !important;
  left: -40vw;
  top: -75vh;
  padding: 0;
}

@media screen and (max-width: 350px) {
  video {
    z-index: 10 !important;
    padding-top: 0;
    position: absolute;
    max-width: 120vw;
    height: auto;
    transform: scale(1.3);
    mask-image: linear-gradient(
      to top,
      transparent 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 75%
    ) !important;
    left: -40vw;
    top: -126vh !important;
    mask-image: linear-gradient(
      to top,
      transparent 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 75%
    ) !important;
  }
}

@media screen and (max-width: 400px) {
  video {
    z-index: 10 !important;
    padding-top: 0;
    position: absolute;
    max-width: 120vw;
    height: auto;
    transform: scale(1.3);
    mask-image: linear-gradient(
      to top,
      transparent 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 75%
    ) !important;
    left: -40vw;
    top: -100vh;
    mask-image: linear-gradient(
      to top,
      transparent 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 75%
    ) !important;
  }
}

@media screen and (max-width: 450px) {
  video {
    z-index: 10 !important;
    padding-top: 0;
    position: absolute;
    max-width: 120vw;
    height: auto;
    transform: scale(1.3);
    mask-image: linear-gradient(
      to top,
      transparent 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 75%
    ) !important;
    left: -40vw;
    top: -80vh;
    mask-image: linear-gradient(
      to top,
      transparent 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 75%
    ) !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
nav,
span {
  z-index: 100 !important;
}

.react-calendar {
  width: 65%;
  height: 21rem;
  background: #fcfcfe;
  margin-left: 15rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
}
.react-calendar__navigation__label {
  color: #19144d;
  font-weight: bold;
}
.react-calendar__month-view__weekdays__weekday {
  color: #6c6de1;
  font-weight: bold;
  font-size: 1rem;
}
.react-calendar__tile {
  font-size: 0.9rem;
}
.calendar{
    height: auto;
    width: 65%;
    background: #fcfcfe;
    margin-left: 15rem;
    border-radius: .3rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.calendar .calendarContainer{
    padding: 2rem 2rem;
}
.calendar .calendarContainer .calendarMonth{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}
.calendar .calendarContainer .calendarMonth span{
    color: #19144d;
    font-weight: bold;
}
.calendar .calendarContainer .calendarMonth img{
    opacity: .3;
}
.calendar .calendarContainer .calendarDay{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 2rem 0;
}
.calendar .calendarContainer .calendarDay span{
    color: #6c6de1;
    font-weight: bold;
}

.calendar .calendarContainer .weekDay{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-around;
    grid-gap: 1rem;
}

.calendar .calendarContainer .weekDay span{
    font-weight: bold;
}
.calendar .calendarContainer .weekDay .previousMonth{
    color: #c7c7d2;
}
.calendar .calendarContainer .weekDay .endDay{
    color: #ef5670;
}

@media screen and (max-width: 70rem) {
  .react-calendar {
    margin: auto;
  }
}

.canceled {
  background: linear-gradient(to right, #facac9, #f8a6ab);
  width: 65%;
  margin-left: 15rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.canceled .canceledContainer {
  padding: 1rem 2rem;
}
.canceled .canceledContainer .canceledHeader {
  display: flex;
  justify-content: space-between;
}
.canceled .canceledContainer .canceledHeader h3 {
  color: #fff;
}
.canceled .canceledContainer .canceledHeader p {
  font-size: 1em;
  color: #b9b9fc;
}

.canceled .canceledContainer .canceledHeader .dots {
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  margin: 0;
}
.canceled .canceledContainer {
  text-align: left;
  color: #fff;
  margin: 0;
}
.canceled div .canceledContainer p:nth-child(1) {
  margin: 0;
}
.canceled div .canceledContainer p:nth-child(3) {
  color: #e28383;
  font-weight: bold;
  margin: 0;
}

.canceled .canceledContainer .canceledDetails .canceledDate p {
  margin: 0;
}
.canceledDetails p:nth-child(2) {
  color: #e28383;
}
@media screen and (max-width: 70rem) {
  .canceled {
    margin: auto;
  }
}

.payment {
  display: grid;
  grid-template-columns: 1fr;
  /* padding: 4rem 0 ; */
  background: linear-gradient(50deg, #22156a 10%, #582a97, #0e77be);
  width: 50%;
  min-width: 25rem;
  max-width: 70rem;
  margin: auto;
  border-radius: 0.8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.payment h1 {
  color: #fff;
  text-shadow: 0 5px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0rem 0 0;
}
.payment .container {
  padding: 0 2rem 1rem;
  height: 100%;
}
.payment .container .cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2px solid rgba(199, 199, 210, 0.7);
}
.payment .container .cardTop .mastercard {
  width: 7rem;
}
.payment .container .cardTop .details {
  font-size: 0.8rem;
  padding: 0 1rem;
  border-left: 0.2px solid rgba(199, 199, 210, 0.9);
}
.payment .container .cardTop .details p {
  margin: 0.5rem 0;
  color: rgba(199, 199, 210, 0.7);
  letter-spacing: 0.2rem;
}
.payment .container .cardBottom {
  height: 100%;
}

.payment .container .cardBottom form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.payment .container .cardBottom form .name {
  width: 80%;
  border: 0.5px solid rgba(199, 199, 210, 0.3);
  background: transparent;
  border-radius: 2rem;
  margin: 2rem;
}
.payment .container .cardBottom form input {
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.payment .container .cardBottom form input:focus {
  outline: none;
}
.payment .container .cardBottom form .cardNumber {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.payment .container .cardBottom form .cardNumber input:nth-child(1) {
  width: 40%;
  border: 0.5px solid rgba(199, 199, 210, 0.3);
  background: transparent;
  border-radius: 2rem;
}
.payment .container .cardBottom form .cardNumber input:nth-child(2) {
  width: 20%;
  border: 0.5px solid rgba(199, 199, 210, 0.3);
  background: transparent;
  border-radius: 2rem;
}
.payment .container .cardBottom form .ccvContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.payment .container .cardBottom form .ccvContainer .ccv {
  width: 25%;
  border: 0.5px solid rgba(199, 199, 210, 0.3);
  background: transparent;
  border-radius: 2rem;
}
.payment .container .cardBottom form .ccvContainer button {
  width: 40%;
  font-weight: bold;
  letter-spacing: 0.4rem;
  border-radius: 2rem;
  border: none;
  background: #dc1834;
  color: #fff;
  box-shadow: 0px 10px 20px #220e47;
  cursor: pointer;
}
.payment .container .cardBottom form .ccvContainer button:focus {
  outline: none;
  border: inset 1px solid #000;
}
@media screen and (max-width: 70rem) {
  .payment {
    width: 100%;
    min-width: 2rem;
    border-radius: 0;
  }
}

.icons {
  padding: 0.5rem;
  opacity: 1;
  background: #fff;
  border-radius: 0.8rem;
}

.searchFlorist {
  position: relative;
  width: 85%;
  min-width: 50%;
  /* padding: 6rem 0; */
  margin: 0 0 1rem;
  background: #fcfcfe;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.searchFlorist .searchCard {
  position: absolute;
  top: 2rem;
  padding: 0.5rem 0;
  left: 1rem;
  /* height: 5rem; */
  width: 25%;
  min-width: 16rem;
  background: linear-gradient(to right, #9495ea, #6c6de4);
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.searchFlorist .searchCard form .specialization,
.searchFlorist .searchCard form .city {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 80%;
  border-radius: 0.5rem;
  letter-spacing: 2px;
}
.searchFlorist .searchCard header {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.searchFlorist .searchCard header .googleLetter {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
.searchFlorist .searchCard header .googleFlorist {
  color: #fff;
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
.makeAppointment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  background: #fcfcfe;
  position: absolute;
}

.makeAppointment .makeAppointmentButton {
  padding: 0.9rem;
  margin-left: 15rem;
  color: #fff;
  background: linear-gradient(to right, #9495ea, #6c6de4);
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0px 4px 20px #e3e4f7;
  letter-spacing: 0.09rem;
  cursor: pointer;
  outline: none;
  position: relative;
}
.makeAppointment button:active {
  border: inset 1px #7471d5;
}
.makeAppointment .profileContainer {
  display: flex;
  margin-right: 15rem;
}
.makeAppointment .profileContainer .profilePic {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 2rem;
  background: #f6c5e6;
  box-shadow: 0px 4px 20px #e3e4f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.makeAppointment .profileContainer .profilePic img {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}

.makeAppointment .profileContainer select {
  border: none;
  padding: 1rem 0rem;
  font-weight: bold;
  text-indent: 0.8rem;
}

.makeAppointment .profileContainer select:focus {
  outline: none;
}

.modalWindow {
  padding: 3rem 6rem;
  background: linear-gradient(50deg, #22156a 10%, #582a97, #0e77be);
  display: flex;
  flex-direction: column;
  text-align: left;
}
.styles_modal__gNwvD {
  padding: 0;
}
.styles_closeIcon__1QwbI {
  fill: #fff;
  cursor: pointer;
}

.modalWindow h4 {
  margin: 1rem 0;
  color: #fff;
  text-transform: uppercase;
}
.modalWindow label {
  padding: 2rem 0;
}
.modalWindow select {
  display: block;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
.modalWindow select:focus {
  outline: none;
}
.modalWindow button {
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background: #eaeafc;
  border: none;
  color: #22156a;
  cursor: pointer;
}
@media screen and (max-width: 70rem) {
  .makeAppointment {
    justify-content: space-around;
  }
  .makeAppointment .makeAppointmentButton {
    margin: 0;
  }
  .makeAppointment .profileContainer {
    margin-right: 0;
  }
}
.appList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.alert {
  background: linear-gradient(135deg, #9495fa, #9c6df4);
  width: 65%;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 1rem 0;
}
.alert .alertContainer {
  padding: 0.5rem 2rem;
}
.alert .alertContainer .alertHeader {
  display: flex;
  justify-content: space-between;
}
.alert .alertContainer .alertHeader h3 {
  color: #fff;
}
.alert .alertContainer .alertHeader .dots {
  font-size: 2rem;
  cursor: pointer;
}
.alert .alertContainer p {
  text-align: left;
  color: #d2d7f9;
  margin: 0;
}
.alert .alertContainer ul {
  padding: 0 1rem;
}
.alert .alertContainer ul li {
  padding: 0.3rem 0;
  text-align: left;
  color: #fff;
}

.alert .alertContainer ul li span {
  color: #d2d7f9;
  margin: 0.5rem 1rem;
}

.calendar {
  height: auto;
  width: 65%;
  background: #fcfcfe;
  margin-left: 15rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.calendar .calendarContainer {
  padding: 2rem 2rem;
}
.calendar .calendarContainer .calendarMonth {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.calendar .calendarContainer .calendarMonth span {
  color: #19144d;
  font-weight: bold;
}
.calendar .calendarContainer .calendarMonth img {
  opacity: 0.3;
}
.calendar .calendarContainer .calendarDay {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 0;
}
.calendar .calendarContainer .calendarDay span {
  color: #6c6de1;
  font-weight: bold;
}

.calendar .calendarContainer .weekDay {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: space-around;
  grid-gap: 1rem;
}

.calendar .calendarContainer .weekDay span {
  font-weight: bold;
}
.calendar .calendarContainer .weekDay .previousMonth {
  color: #c7c7d2;
}
.calendar .calendarContainer .weekDay .endDay {
  color: #ef5670;
}

@media screen and (max-width: 70rem) {
  .calendar {
    margin: auto;
  }
}
